@charset "UTF-8";

/*section(article)=========================================*/

.drama_board_contentView_table {
	width: 96%;
	margin: 0 auto;
	border-spacing: 0;
	border-collapse: collapse;
}

thead td {
	text-align: center;
	padding: 0.5%;
}
thead th:nth-child(1) {
	width: 10%;
}
thead td:nth-child(2) {
	width: 11%;
}
thead th:nth-child(3) {
	width: 10%;
}
thead td:nth-child(4) {
	width: 18%;
}
thead td:nth-child(5) {
	width: 51%;
}

tbody td {
	height: 300px;
}
tbody td > pre {
	font-size: 1.5em;
}

tfoot td {
	padding: 0.5%;
	text-align: right;
}

.tfoot {
	width: 96%;
	margin: 0% auto;
	text-align: right;
}

button {
	font-size: 1em;
	padding: 0.3%;
	margin: 1% 0;
}
