@charset "UTF-8";

/*section(article)=========================================*/

.currentMovieTable {
	margin: 2.5% auto;
	width: 90%;
	height: 90%;
	text-align: center;
	font-size: 1.2em;
}
